<div id="<%= dom_id menu_category %>">
  <p>
    <strong>Menu:</strong>
    <%= menu_category.menu_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= menu_category.category_id %>
  </p>

</div>
